**O URL para o conjunto de dados: https://data.telangana.gov.in/dataset/demographics**

**O documento em análise foi escolhido porque obedece à estrutura de dados requesitada (arquivo CSV e valores separado por vírgula) e trabalha elementos que nos são familiares que são distribuição de dados demográficos.**

**O documento selecionado foi extraído do censo de 2011 da Índia, e refere-se a todos os distritos de Telangana mostra estatísticas básicas do número de homens, mulheres, proporção de sexo (mulheres por 1000 homens), população rural, população urbana, população rural (%), população urbana (%) e famílias.**

A célula seguinte irá impor a a biblioteca pandas para que se possa proceder à análise e manipulação dos dados em questão. Posteriormente, através da função read_csv carregamos o conjunto de dados presente no ficheiro csv em análise. E finalmente, através da função head, mostramos as 10 primeiras linhas de código.

In [2]:
import pandas as pd
df = pd.read_csv('data29.csv')
df.head(10)

,data,data_dados,confirmados,confirmados_arsnorte,confirmados_arscentro,confirmados_arslvt,confirmados_arsalentejo,confirmados_arsalgarve,confirmados_acores,confirmados_madeira,...,obitos_50_59_f,obitos_50_59_m,obitos_60_69_f,obitos_60_69_m,obitos_70_79_f,obitos_70_79_m,obitos_80_plus_f,obitos_80_plus_m,obitos_f,obitos_m
0,26-02-2020,26-02-2020 00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27-02-2020,27-02-2020 00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28-02-2020,28-02-2020 00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29-02-2020,29-02-2020 00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-03-2020,01-03-2020 00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,02-03-2020,02-03-2020 00:00,2,2,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,03-03-2020,03-03-2020 16:00,4,2,1,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,04-03-2020,04-03-2020 17:00,6,3,1,2,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,05-03-2020,05-03-2020 17:00,9,5,1,3,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,06-03-2020,06-03-2020 17:00,13,8,1,4,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Através do dtypes vemos o tipo de dados armazenado em cada coluna.

In [11]:
df.dtypes

data                      object
data_dados                object
confirmados                int64
confirmados_arsnorte       int64
confirmados_arscentro      int64
                          ...
obitos_70_79_m           float64
obitos_80_plus_f         float64
obitos_80_plus_m         float64
obitos_f                 float64
obitos_m                 float64
Length: 84, dtype: object