**O URL para o conjunto de dados: https://data.telangana.gov.in/dataset/demographics**

**O documento em análise foi escolhido porque obedece à estrutura de dados requesitada (arquivo CSV e valores separado por vírgula) e trabalha elementos que nos são familiares que são distribuição de dados demográficos.**

**O documento selecionado foi extraído do censo de 2011 da Índia, e refere-se a todos os distritos de Telangana mostra estatísticas básicas do número de homens, mulheres, proporção de sexo (mulheres por 1000 homens), população rural, população urbana, população rural (%), população urbana (%) e famílias.**

A célula seguinte irá impor a a biblioteca pandas para que se possa proceder à análise e manipulação dos dados em questão. Posteriormente, através da função read_csv carregamos o conjunto de dados presente no ficheiro csv em análise. E finalmente, através da função head, mostramos as 10 primeiras linhas de código.

In [2]:
import pandas as pd
df = pd.read_csv('Demographics.csv')
df.head(10)

,Districts,Males,Females,Sex Ratio (Females per 1000 Males),Rural,Urban,Rural Population (%),Urban Population (%),Households
0,ADILABAD,356407,352565,989,541226,167746,76.34,23.66,156683
1,BHADRADRI,532390,536871,1008,730178,339083,68.29,31.71,279190
2,HYDERABAD,2018575,1924748,954,0,3943323,0.00,100.00,849051
3,JAGTIAL,484079,501338,1036,764081,221336,77.54,22.46,253619
4,JANGAON,283648,282728,997,495019,71357,87.40,12.60,139238
5,JAYASHANKAR,354203,357231,1009,657554,53880,92.43,7.57,189622
6,JOGULAMBA,309274,300716,972,546813,63177,89.64,10.36,132261
7,KAMAREDDY,478389,494236,1033,849003,123622,87.29,12.71,222513
8,KARIMNAGAR,504620,501091,993,696727,308984,69.28,30.72,258485
9,KHAMMAM,699124,702515,1005,1084811,316828,77.40,22.60,382929

**Através do dtypes vemos o tipo de dados armazenado em cada coluna.**

In [3]:
df.dtypes

Districts                              object
Males                                   int64
Females                                 int64
Sex Ratio (Females per 1000 Males)      int64
Rural                                   int64
Urban                                   int64
Rural Population (%)                  float64
Urban Population (%)                  float64
Households                              int64
dtype: object